
  $red: #cd1327;
  $marine: #182b82;
  $yellow: #f4d420;
  $gray: #a2a9a9;
  $green: #4e7247;
  $turquoize: #298e7f;
  $white: #fcfdfd;
  $pred: #e61220;
  $bblue: #3a4659;
  $corange: #e06424;
  $morange: #f18e10;
  $azalea: #ac5482;
  $leaf: #769d41;
  $iwhite: #fcfdf1;
  $bpearl: #5b6574;
  $cblue: #26499d;
  $ygold: #d0c06b;
  $wgold: #bf9c39;
  $cardinal: #a91f2b;
  $light: #fff3da;
  $lblack: #00090d;
  $cgray: #a2acb0;
  $igray: #c8ced1;
  $cement : #747a7e;
  $ryellow: #e9bd32;
@mixin buildings {
	.buildings{
			// height: 1150px;
      background:repeating-linear-gradient($white 0, $white 80px, #e2e7eb 80px, #e2e7eb 160px);
			position:absolute;
			bottom: 0;
			left: 30px;
			display: flex;
      z-index: 0;
		.building{
			height :100%;
      width: 100%;
			// background-color:#c8ced1;
			position: relative;
      .floorplate{

        height: 100%;
        position: absolute;
        left: 0;
        .plate{
          font-size: 40px;
          margin-bottom: 40px;
          color: $cement;
          z-index: 1;
          // margin-top: 80px;
        }
      }
			.elevators{
				height :100%;
				width :calc(100% - 100px);
				display: flex;
				.elevator{
					// background-color: $cblue;
					.standby {
						height : calc(100% / 13 - 20px);
						width: 75px;
						position:absolute;
						bottom: 0;
						display: table;
					}
					display: flex;
					.floors{
            z-index: 2;
						height :100%;
						width : 60px;
						list-style: none;
            .flame{
              height : 60px;
              background-color: $cgray;
              margin-top: 20px;
              padding: 5px;
                // position: absolute;
                // bottom: 0;
              .floor{
                height: 100%;
                width : 50px;
                background-color: $yellow;
                display: table;
                .door{
                  // border: 1px solid $lblack;
                  display: flex;
                  &left,&right{
                    z-index: 3;
                    height: 50px;
                    width: 25px;
                  }
                  &left{
                    background-color: $igray;
                  }
                  &right{
                    background-color: $gray;
                  }
                }
              }
            }

					}
				}

			}
		}
	}
}



.city{
	min-height: 100%;
	min-width: 100%;
  background-color: skyblue;
	.sky{
    height: 90vh;
		// height: 100%;
		min-width: 100%;
		background-color: skyblue;
		display: flex;
		.left{
      margin-left: 50px;
			height :100%;
			position: relative;
			@include buildings;
		}
		.right{
			height :100%;
      // margin-left: 600px;
			position: relative;
			@include buildings;
		}

	}
	.ground{
		height: 10vh;
    min-width: 100%;
		background-color: #769d41;
		.result{
			font-size: 64px;
			color: $white;
		}
	}
  .man{
    height:40px;
    width:100%;
    background: url('../image/man.png')
  }
}
