.city {
  min-height: 100%;
  min-width: 100%;
  background-color: skyblue; }
  .city .sky {
    height: 90vh;
    min-width: 100%;
    background-color: skyblue;
    display: flex; }
    .city .sky .left {
      margin-left: 50px;
      height: 100%;
      position: relative; }
      .city .sky .left .buildings {
        background: repeating-linear-gradient(#fcfdfd 0, #fcfdfd 80px, #e2e7eb 80px, #e2e7eb 160px);
        position: absolute;
        bottom: 0;
        left: 30px;
        display: flex;
        z-index: 0; }
        .city .sky .left .buildings .building {
          height: 100%;
          width: 100%;
          position: relative; }
          .city .sky .left .buildings .building .floorplate {
            height: 100%;
            position: absolute;
            left: 0; }
            .city .sky .left .buildings .building .floorplate .plate {
              font-size: 40px;
              margin-bottom: 40px;
              color: #747a7e;
              z-index: 1; }
          .city .sky .left .buildings .building .elevators {
            height: 100%;
            width: calc(100% - 100px);
            display: flex; }
            .city .sky .left .buildings .building .elevators .elevator {
              display: flex; }
              .city .sky .left .buildings .building .elevators .elevator .standby {
                height: calc(100% / 13 - 20px);
                width: 75px;
                position: absolute;
                bottom: 0;
                display: table; }
              .city .sky .left .buildings .building .elevators .elevator .floors {
                z-index: 2;
                height: 100%;
                width: 60px;
                list-style: none; }
                .city .sky .left .buildings .building .elevators .elevator .floors .flame {
                  height: 60px;
                  background-color: #a2acb0;
                  margin-top: 20px;
                  padding: 5px; }
                  .city .sky .left .buildings .building .elevators .elevator .floors .flame .floor {
                    height: 100%;
                    width: 50px;
                    background-color: #f4d420;
                    display: table; }
                    .city .sky .left .buildings .building .elevators .elevator .floors .flame .floor .door {
                      display: flex; }
                      .city .sky .left .buildings .building .elevators .elevator .floors .flame .floor .doorleft, .city .sky .left .buildings .building .elevators .elevator .floors .flame .floor .doorright {
                        z-index: 3;
                        height: 50px;
                        width: 25px; }
                      .city .sky .left .buildings .building .elevators .elevator .floors .flame .floor .doorleft {
                        background-color: #c8ced1; }
                      .city .sky .left .buildings .building .elevators .elevator .floors .flame .floor .doorright {
                        background-color: #a2a9a9; }
    .city .sky .right {
      height: 100%;
      position: relative; }
      .city .sky .right .buildings {
        background: repeating-linear-gradient(#fcfdfd 0, #fcfdfd 80px, #e2e7eb 80px, #e2e7eb 160px);
        position: absolute;
        bottom: 0;
        left: 30px;
        display: flex;
        z-index: 0; }
        .city .sky .right .buildings .building {
          height: 100%;
          width: 100%;
          position: relative; }
          .city .sky .right .buildings .building .floorplate {
            height: 100%;
            position: absolute;
            left: 0; }
            .city .sky .right .buildings .building .floorplate .plate {
              font-size: 40px;
              margin-bottom: 40px;
              color: #747a7e;
              z-index: 1; }
          .city .sky .right .buildings .building .elevators {
            height: 100%;
            width: calc(100% - 100px);
            display: flex; }
            .city .sky .right .buildings .building .elevators .elevator {
              display: flex; }
              .city .sky .right .buildings .building .elevators .elevator .standby {
                height: calc(100% / 13 - 20px);
                width: 75px;
                position: absolute;
                bottom: 0;
                display: table; }
              .city .sky .right .buildings .building .elevators .elevator .floors {
                z-index: 2;
                height: 100%;
                width: 60px;
                list-style: none; }
                .city .sky .right .buildings .building .elevators .elevator .floors .flame {
                  height: 60px;
                  background-color: #a2acb0;
                  margin-top: 20px;
                  padding: 5px; }
                  .city .sky .right .buildings .building .elevators .elevator .floors .flame .floor {
                    height: 100%;
                    width: 50px;
                    background-color: #f4d420;
                    display: table; }
                    .city .sky .right .buildings .building .elevators .elevator .floors .flame .floor .door {
                      display: flex; }
                      .city .sky .right .buildings .building .elevators .elevator .floors .flame .floor .doorleft, .city .sky .right .buildings .building .elevators .elevator .floors .flame .floor .doorright {
                        z-index: 3;
                        height: 50px;
                        width: 25px; }
                      .city .sky .right .buildings .building .elevators .elevator .floors .flame .floor .doorleft {
                        background-color: #c8ced1; }
                      .city .sky .right .buildings .building .elevators .elevator .floors .flame .floor .doorright {
                        background-color: #a2a9a9; }
  .city .ground {
    height: 10vh;
    min-width: 100%;
    background-color: #769d41; }
    .city .ground .result {
      font-size: 64px;
      color: #fcfdfd; }
  .city .man {
    height: 40px;
    width: 100%;
    background: url("../image/man.png"); }

/*# sourceMappingURL=index.css.map */
