
  $red: #cd1327;
  $marine: #182b82;
  $yellow: #f4d420;
  $gray: #a2a9a9;
  $green: #4e7247;
  $turquoize: #298e7f;
  $white: #fcfdfd;
  $pred: #e61220;
  $bblue: #3a4659;
  $corange: #e06424;
  $morange: #f18e10;
  $azalea: #ac5482;
  $leaf: #769d41;
  $iwhite: #fcfdf1;
  $bpearl: #5b6574;
  $cblue: #26499d;
  $ygold: #d0c06b;
  $wgold: #bf9c39;
  $cardinal: #a91f2b;
  $light: #fff3da;
  $lblack: #00090d;
  $cgray: #a2acb0;
  $igray: #c8ced1;
  $cement : #747a7e;
  $ryellow: #e9bd32;
@mixin buildings {
	.buildings{
			height: 1100px;
			width : 100%;
			position:absolute;
			// padding-top: 10px;
			bottom: 0;
			left: 70px;
			display: flex;
		.gates{
			height :100%;
			width: 10%;
			// width: 100px;
			margin-right: 50px;
			.gate {
				height : calc(100% / 13 - 20px);
				width: 90%;
				font-size: 20px;
				background-color:#fcfdf1;
				margin-top :20px;
				margin-left : 20px;
				&#F1{
					display: table;
				}
				&:nth-child(#{12}){
					background-color: $red;
					color: $white;
				}
				&:nth-child(#{11}){
					background-color: $marine;
					color: $white;
				}
				&:nth-child(#{10}){
					background-color: $turquoize;
					color: $white;
				}
				&:nth-child(#{9}){
					background-color: $green;
					color: $white;
				}
				&:nth-child(#{8}){
					background-color: $bblue;
					color: $white;
				}
				&:nth-child(#{7}){
					background-color: $azalea;
					color: $white;
				}
				&:nth-child(#{6}){
					background-color: $cblue;
					color: $white;
				}
				&:nth-child(#{5}){
					background-color: $light;
					color: lblack;
				}
				&:nth-child(#{4}){
					background-color: $white;
					color: lblack;
				}
				&:nth-child(#{3}){
					background-color: $cardinal;
					color: $white;
				}
				&:nth-child(#{2}){
					background-color: $pred;
					color: $white;
				}
				&:nth-child(#{1}){
					background-color: $cgray;
					color: lblack;
				}
			}
		}

		.building{
			height :100%;
			// height :1100px;
			width: 700px;
			background-color:#c8ced1;
			position: relative;
			.elevators{
				height :100%;
				width :calc(100% - 100px);
				// margin-left:100px;
				display: flex;
				.elevator{
					@for $j from 2 through 6 {
						&:nth-child(#{$j}){
							margin-left:50px;
						}
					}
					.standby {
						height : calc(100% / 13 - 20px);
						width: 75px;
						// background-color: green;
						position:absolute;
						bottom: 0;
						display: table;
					}
					display: flex;
					.floors{
						height :100%;
						width : 50px;
						margin-right :10px;

						list-style: none;
						.floor{
							height : calc(100% / 13 - 20px);
							width : 60px;
							background-color: #26499d;
							margin-top :20px;
							margin-left: 50px;
							display: table;
							&:nth-child(#{13}){
								background-color: $yellow;

							}
						}
					}
				}

			}
		}
	}
}



.city{
	min-height: 100%;
	min-width: 100%;
	.sky{
		min-height: calc(90vh - 60px);
		// min-height: calc(1200px);
		min-width: 100%;
		background-color: skyblue;
		display: flex;
		.left{
			height: calc(90vh - 60px);
			width: 50vw;
			position: relative;
			@include buildings;
		}
		.right{
			height: calc(90vh - 60px);
			width: calc(50vw - 100px);
			position: relative;
			@include buildings;
		}

	}
	.ground{
		height: 10vh;
		width: 100%;
		background-color: #769d41;
		.result{
			font-size: 32px;
			color: $white;
		}
	}
	.people{
		height: 15px;
		width: 12px;
		border-radius:50%;
		border: 1px solid #00090d;
		display: inline-block;
		&#people11{
			background-color: $red;
		}
		&#people10{
			background-color: $marine;
		}
		&#people9{
			background-color: $turquoize;
		}
		&#people8{
			background-color: $green;
		}
		&#people7{
			background-color: $bblue;
		}
		&#people6{
			background-color: $azalea;
		}
		&#people5{
			background-color: $cblue;
		}
		&#people4{
			background-color: $light;
		}
		&#people3{
			background-color: $white;
		}
		&#people2{
			background-color: $cardinal;
		}
		&#people1{
			background-color: $pred;
		}
		&#people0{
			background-color: $cgray;
		}
	}
}
