.city{
	min-height: 100%;
	min-width: 100%;
	.sky{
		// min-height: calc(90vh - 60px);
		min-height: calc(1200px);
		min-width: 100%;
		background-color: skyblue;
		position: relative;
		display: flex;
		.building{
			// height: calc(90vh - 80px);
			height: calc(1000px);
			width : 800px;
			background-color:#c8ced1;
			position:absolute;
			bottom: 0;
			left: 70px;
			.gate {
				height : calc(100% / 13 - 10px);
				width: 100px;
				background-color:ghostwhite;
				position:absolute;
				bottom: 0;
				display: flex;
			}

			.elevators{
				height :100%;
				width :calc(100% - 100px);
				margin-left:100px;
				display: flex;
				.elevator{
					@for $j from 2 through 6 {
						&:nth-child(#{$j}){
							margin-left:50px;
						}
					}
					.standby {
						height : calc(100% / 13 - 10px);
						width: 75px;
						// background-color: green;
						position:absolute;
						bottom: 0;
						display: flex;
					}
					display: flex;
					ul{
						height :100%;
						width : 50px;
						// width : calc(100% / 6 - 10px);
						// background-color: blue;
						margin-right :10px;
						list-style: none;
						li{
							height : calc(100% / 13 - 10px);
							width : 50px;;
							background-color: #26499d;
							margin-top :10px;
							margin-left: 50px;
							display: flex;
						}
					}
				}

			}
		}
	}
	.ground{
		height: 10vh;
		width: 100%;
		background-color: #769d41;
	}
	#people{
		height:20%;
		width:auto;
		object-fit: contain;
		color: red;
		position: absolute;
		bottom : 0;
	}
}
